#account-creation_form fieldset, fieldset.account_creation {
	padding:0 0 15px 0;
	border:1px solid #ededed;
	background:#FBFBFB;
}
#account-creation_form p.radio label {
	float:none;
	padding-right:10px;
	width:auto;
}
#account-creation_form p.radio input {
	position: relative;
}
#account-creation_form p.checkbox label {
	float:none;
	width:auto;
}
#account-creation_form span.inline-infos{display:inline-block;}
#account-creation_form p.select select { margin-right:10px; }
#account-creation_form p.textarea textarea {
	height:80px;
	width:370px;
}
#account-creation_form span.form_info, #account-creation_form p.inline-infos {
	display:block;
}
#account-creation_form .id_state, #account-creation_form .dni, #account-creation_form .postcode {
	display: none;
}
#center_column #account-creation_form p.cart_navigation {
	margin:20px 0;
}
#customer_privacy{ margin:0 !important;}
.ie7 .account_creation .radio span,.ie7 #account-creation_form p.radio label{float:left;}
.ie7 .account_creation .radio{width:100%;}