/* block CONTACT ******************************************************************************* */
#contact_block .block_content {
	padding:10px 0 15px 0;
	background: url(../../../img/icon/block_contact_bg.png) no-repeat right bottom transparent;
}

#contact_block p {	
	 background: url("../../../img/icon/clock_icon.png") no-repeat scroll 12px 0 transparent;
    padding: 0 12px 15px 56px;
}

#contact_block .title_block,   #contact_block h4 {
	padding:6px 11px;
}
#contact_block p.tel {

	 background: url("../../../img/icon/block_contact_pict_tel.png") no-repeat scroll 11px 1px transparent;
    padding:2px 0 15px 59px;
    word-wrap: break-word;
}
#contact_block a {
	 border-radius: 3px 3px 3px 3px;
    color: #71625D;
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-transform: uppercase;
}
#contact_block a:hover {text-decoration:none}

#contact_block .label {display: none}
