@charset "UTF-8";.container_9{margin:0 auto;width:980px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9{display:inline;float:left;position:relative;margin-right:10px}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_9 .grid_1{width:91px}
.container_9 .grid_2{width:202px}
.container_9 .grid_3{width:313px}
.container_9 .grid_4{width:424px}
.container_9 .grid_5{width:549px}
.container_9 .grid_6{width:646px}
.container_9 .grid_7{width:764px}
.container_9 .grid_8{width:868px}
.container_9 .grid_9{width:980px}
.container_9 .prefix_1{padding-left:111px}
.container_9 .prefix_2{padding-left:222px}
.container_9 .prefix_3{padding-left:333px}
.container_9 .prefix_4{padding-left:444px}
.container_9 .prefix_5{padding-left:555px}
.container_9 .prefix_6{padding-left:666px}
.container_9 .prefix_7{padding-left:777px}
.container_9 .prefix_8{padding-left:888px}
.container_9 .suffix_1{padding-right:111px}
.container_9 .suffix_2{padding-right:222px}
.container_9 .suffix_3{padding-right:333px}
.container_9 .suffix_4{padding-right:444px}
.container_9 .suffix_5{padding-right:555px}
.container_9 .suffix_6{padding-right:666px}
.container_9 .suffix_7{padding-right:777px}
.container_9 .suffix_8{padding-right:888px}
.container_9 .push_1{left:111px}
.container_9 .push_2{left:222px}
.container_9 .push_3{left:333px}
.container_9 .push_4{left:444px}
.container_9 .push_5{left:555px}
.container_9 .push_6{left:666px}
.container_9 .push_7{left:777px}
.container_9 .push_8{left:888px}
.container_9 .pull_1{left:-111px}
.container_9 .pull_2{left:-222px}
.container_9 .pull_3{left:-333px}
.container_9 .pull_4{left:-444px}
.container_9 .pull_5{left:-555px}
.container_9 .pull_6{left:-666px}
.container_9 .pull_7{left:-777px}
.container_9 .pull_8{left:-888px}
.clear{clear:both}

#pb-right-column #views_block {
	margin-top:10px;
	width:336px;
	
	
}

#thumbs_list {
	float:left;
	overflow:hidden;
	margin-left:4px;
	width:216px;
}

#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	float:left;
	height:60px;
	width:72px;
	cursor:pointer;
}

#thumbs_list li img {
	margin:0 6px;
	border:1px solid #cdcdcd;
}

/* color_picker */
#pb-left-column #color_picker p {
	padding-bottom:5px;
	font-weight:700;
}

#attributes fieldset {
	padding-bottom:10px;
}

#attributes fieldset label {
	vertical-align:top;
	font-family: "Futura_Light",Arial,Helvetica;
    font-size: 1.35714em;
    font-weight: normal;
}

#attributes .attribute_list {
	display:inline-block;
}

.ie7 #attributes .attribute_list {
	display:inline;
	zoom:1;
	float:right
}

#attributes .attribute_list ul{
	list-style:none
}

#attributes .attribute_list ul li{
	clear:both;
	height: 15px;
    padding-bottom: 8px;
}

#attributes .attribute_list input.attribute_radio{float: left;margin-left: 3px;}
#attributes .attribute_list span{margin-bottom: 5px;margin-left: 3px;}

.ie7 #attributes .attribute_list span{margin-top:1px}

#attributes .attribute_list #color_to_pick_list {
	list-style-type:none;
	width:125px;
}

#attributes .attribute_list #color_to_pick_list li {
	float:left;
	margin:0 8px 8px 0;
	padding:1px;
	border:1px solid #ccc;
	clear:none
}

#attributes .attribute_list #color_to_pick_list li.selected {
	border:1px solid #000;
}

#attributes .attribute_list #color_to_pick_list a.color_pick {
	display:block;
	height:20px;
	width:20px;
}

.product_attributes {
	padding:10px 0 0;
	/*border-top:1px solid #ccc;*/
	position:absolute;
	top: 29px;
}

/* attributes */
#attributes select {
	width:120px;
	border:1px solid #cdcdcd;
}

/* quantity_wanted */
#quantity_wanted_p input {
	width:50px;
	border:1px solid #cdcdcd;
}

#usefull_link_block {
	list-style-type:none;
	margin-top:20px;
	position: absolute;
    right: 421px;
    top: 28px;
}

#usefull_link_block li {
	padding:2px 0;
}

#usefull_link_block li.print {
	padding-left:20px;
	background:url(../../img/icon/print.gif) no-repeat 0 0;
}

#usefull_link_block li.sendtofriend {
	padding-left:20px;
	background:url(../../img/icon/send_friend.gif) no-repeat 0 0;
}

#usefull_link_block li#left_share_fb {
	padding-left:20px;
	background:url(../../img/icon/picto_fb.png) no-repeat 0 0;
}

#view_scroll_left,#view_scroll_right {
	float:left;
	margin-top:20px;
	padding:0 4px;
	height:18px;
	width:9px;
	text-indent:-3000px;
	background:url(../../img/thumbs_left.gif) no-repeat center center transparent;
}

#view_scroll_right {
	margin-left:4px;
	background-image:url(../../img/thumbs_right.gif);
}

.resetimg {
	padding:10px 0 0;
}

.style_cart{
	background:url("../../img/soona_img/images_soona/carrito_producto2.png") no-repeat scroll right center transparent;
	display:inline-block;
	float:right;
	height:9.857em;
	position:absolute;
	right:566px;
	top:23em;
	width:38.143em;
	z-index:5}

.style_sale{
	background:url("../../img/soona_img/images_soona/comprar.png") no-repeat scroll right center transparent;
	display:inline-block;
	float:right;
	height:9.857em;
	position:absolute;
	right:85px;
	top:25em;
	width:38.143em;
	z-index:5}

/*********/
.catalog_list {
    clear: both;
    margin: 0 0 0 5px;
    padding: 0;
}
.catalog_list li {
    /*border-bottom: 4px solid #EDEDED;*/
    /*border-right: 4px solid #EDEDED;*/
    float: left;
    height: 19.8571em;
    list-style: none inside none;
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 0;
    width: 16.2857em;
	background-color:#FFFFFF;
}
.catalog_list li article {
    height: 100%;
    position: relative;
    width: 100%;
}
.catalog_list li article img {
    position: relative;
}
.catalog_list li article .product_information_wrapper {
    background: url("../../img/soona_img/images_soona/bg_texto_modelos_relacionados.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -105px;
    display: block;
    height: 6.21429em;
    left: 0;
    padding: 9px 20px 10px 23px;
    position: absolute;
    width: 13.2857em;
}
.catalog_list li article .product_information_wrapper > div {
    position: relative;
}
.catalog_list li article .product_information_wrapper .product_information {
    width: 137px;
}
.catalog_list li article .product_information_wrapper .product_information .product_name_catalog {
    clear: both;
    color: #9C81A8;
    display: block;
    font-family: "Discover_Beauty_Regular",Arial,Helvetica;
    font-size: 1.35714em;
    font-weight: normal;
    line-height: 1.57895em;
    margin: 0;
    padding: 0;
}
.catalog_list li article .product_information_wrapper .product_information .product_price_catalog {
    clear: both;
    color: #919191;
    cursor: pointer;
    display: block;
    font-family: "Futura_Light",Arial,Helvetica;
    font-size: 1.07143em;
    font-weight: lighter;
    line-height: 1em;
    margin: 0;
    padding: 0 0 7px;
}
.catalog_list li article .product_information_wrapper .cart_link a {
    background: url("../../img/soona_img/images_soona/mas_carrito.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 2.28571em;
    margin: 0;
    padding: 0;
    text-indent: -2000em;
    width: 3.42857em;
}
.catalog_list li article .product_information_wrapper .left {
    float: left;
}
.catalog_list li article .product_information_wrapper .right {
    float: right;
}
.catalog_list li article .product_information_wrapper hr {
    border-color: #9C81A8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    display: block;
    height: 0.07143em;
}
.catalog_list li article .product_information_wrapper a.to_know_more {
    background: url("../../img/soona_img/images_soona/conoce_mas.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #919191;
    display: block;
    float: right;
    font-family: "Futura_Light",Arial,Helvetica;
    font-size: 0.78571em;
    font-weight: lighter;
    height: 2.63636em;
    line-height: 2.63636em;
    margin: 0;
    padding: 0;
    width: 8.63636em;
}
.catalog_list .last_item {
    margin: 0;
}
.title_block2{
	width:108%;
	height:36px;
	background-color:#A474C8;
	color:#FFFFFF;
	text-align:center;
	display:block;
	padding-top: 20px;
	margin-left: -15px;
}

.products_block2 {
    background-color: #FFFFFF;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    box-shadow: 0 15px 5px #D7D7D7;
    margin-bottom: 15px;
    padding: 5px;
	width:516px;
	display:block;
	height:500px;
}

#block_icons{
	position:absolute;
	left: 490px;
	top: 41px;
}

#block_icons ul{
	padding:0;
	margin:0;
	
}

#block_icons ul li{
	list-style:none;
}

#block_icons ul li img{
	width:42px;
	height:42px;
}

.catalog_list ul li #tiny_block_icons{
	position:absolute;
	left: 0px;
	top: 0px;
}

.catalog_list ul li #tiny_block_icons ul{
	padding:0;
	margin:0;
	
}

.catalog_list ul li #tiny_block_icons ul li{
	list-style:none;
}

.catalog_list ul li #tiny_block_icons ul li .img{
	width:15px;
	height:15px;
}

.internal .columns_inner #center_column h1, .internal .columns_inner #center_column .titulo {
    color: #9C81A8;
    font-family: "Discover_Beauty_Regular",Arial,Helvetica;
    font-size: 2.5em;
    font-weight: normal;
    height: 1.457em;
    line-height: 1em;
    margin: 0;
    text-indent: 1.42857em;
	margin-left: 28px;
}

.titulo {
    color: #9C81A8;
    font-family: "Discover_Beauty_Regular",Arial,Helvetica;
    font-size: 2.5em;
    font-weight: normal;
    height: 1.457em;
    line-height: 1em;
    margin: 0;
    text-indent: 1.42857em;
	 margin-left: 28px;
}

@font-face{font-family:'Discover_Beauty_Regular';src:url("../font/discoverbeauty-webfont.eot");src:url("../font/discoverbeauty-webfont.eot?#iefix") format("embedded-opentype"),url("../font/discoverbeauty-webfont.woff") format("woff"),url("../font/discoverbeauty-webfont.ttf") format("truetype"),url("../font/discoverbeauty-webfont.svg#Discover_Beauty_Regular") format("svg");font-weight:normal;font-style:normal}

#soona_icons{
	position:absolute;
	top:0px;
	right:24px;
}

#soona_icons ul{
	padding:0;
	margin:0;
	
}

#soona_icons ul li{
	list-style:none;
	float:left;
	margin-right:3px;
}

#soona_icons ul li .img{
	width:42px;
	height:42px;
}

#sello_catalogo{
	position:absolute;
	top:-14px;
	left:0px;
	
}

#sello_galeria{
	position:absolute;
	top:-14px;
	left:0px;
	
}
