
/* Start Sprite Master CSS */
.sello_num1,.sello_num2,.sello_num3,.sello_num4{display: inline-block;background-repeat: no-repeat;background-image: url('../../img/soona_img/images_soona/sprite-sello-num.png');}
.sello_num1{background-position:0px 1px !important;width:35px;height:34px;}
.sello_num2{background-position:0px -35px;width:37px;height:36px;}
.sello_num3{background-position:0px -72px;width:36px;height:35px;}
.sello_num4{background-position:0px -108px;width:37px;height:37px;}
/* End Sprite Master CSS */
