
/* Start Sprite Master CSS */
.MC,.paypal,.visa{display: inline-block;background-repeat: no-repeat;background-image: url('../../img/soona_img/images_soona/sprite-payment-methods.png');}
.MC{background-position:-1px -1px;width:136px;height:82px;}
.paypal{background-position:-137px -1px;width:140px;height:82px;}
.visa{background-position:-277px -1px;width:102px;height:82px;}
/* End Sprite Master CSS */
