/* block top search */
#search_block_top {
    background: url("../../img/soona_img/images_soona/bg_buscar.png") no-repeat scroll 0 0 transparent !important;
    border-radius: 5px;
    height: 31px;
    padding:4px;
    position:absolute;
    right:370px;
    top:50px;
    width:190px;
    form#searchbox {
        /*width:200px;
        background:#FBFBFB;
        float: left;
        border: 1px solid #eee;*/
        label{color:#333;margin-bottom:1px}
        p{
            margin: 0;
            padding:0;
            #search_query_top {
                background: transparent;
                border: 0 none transparent;
                border-radius: 5px 0 0 5px;
                box-shadow: 0 0 0 transparent;
                float: left;
                font-family: "Futura_Light", Arial, Helvetica;
                font-size: 1em( 16, 16 );
                line-height: em( 16, 16 );
                height: 32px;
                /*padding-right: 30px;*/
                overflow: hidden;
                width:160px;
            }
            input#search_query_block{
                border-radius:3px !important;
                height: 18px;
                margin-top:10px;
            }
            .button {
                background: url("../../img/soona_img/images_soona/buscar_lupa.png") no-repeat scroll 0 0 transparent;
                border: 0px none transparent;
                border-radius: 0 5px 5px 0;
                color:#fff;
                float: left;
                height:28px;
                overflow:hidden;
                padding:0;
                position:absolute;
                right:4px;
                text-indent: -959px;
                text-transform:uppercase;
                top:7px;
                width:30px;
                z-index:3;
                &:active,&:focus{ box-shadow:none; }
            }
        }
        input#search_button{padding: 1px 4px;}
    }
}
a.view_account {
    clear:both !important;
    color:$color_light !important;
    display:block !important;
    font-size: em( 16, 14 ) !important;
    font-family: $discover !important;
    line-height: em( 16, 16 ) !important;
    left:-70px;
    margin:0 auto;
    position: relative;
    text-align:center;
    top:23px;
    width: 340px;
    .crown{
        background: url("../../img/soona_img/images_soona/corona_nombre.png");
        display: inline-block;
        height: em( 15, 16 );
        margin: 0;
        padding: 0;
        width: em( 25, 16 );
    }
}
.ie7 {
    
    #search_block_top {
        
        #search_query_top{ width:179px; }
        .button{height:28px;}
    }
}
