#identity #left_column #left_column_inner{display:none}
#identity #center_column{}
#identity h3 {
	font-weight:normal;
	font-size:13px;
}
#identity p {
	padding-bottom:10px;
}
#identity form.std fieldset {
	margin-top:0;
	padding:10px;
}
#identity .std p.submit {padding:10px 0 20px 187px}
#identity .std p.submit .button {padding:5px 25px}
#identity .std #security_informations {
	padding:0 0 0 187px;
	font-size:11px;
}