#my-account #center_column h1 {margin-bottom:20px}
#my-account #center_column .title_block  {
	font-weight:normal;
	color:#666;
	border:none;
}

#my-account .myaccount_lnk_list {list-style-type:none}
#my-account .myaccount_lnk_list li {
	padding-bottom:10px;
	margin:5px 0;
	border:1px solid #eee;
}
#my-account .myaccount_lnk_list li a	{ padding:0 0 0 20px;}
#my-account .myaccount_lnk_list img.icon		
{
	position:relative;
	top:6px;
	left:-10px;
}
#my-account p img.icon 	{ left: 10px;
    position: relative;
    top: 8px;}
#my-account p .home	{ position:relative; left:12px;}