#stores #center_colum label {
	display:inline-block;
	width:150px;
	font-weight:bold;
	text-align:right
}
input#addressInput {
	width:300px;
}
select#radiusSelect {
	margin: 0 5px 0 0;
	width:50px;
}

#stores_loader {
   display: none;
   margin-left: 5px
}

#locationSelect {
   visibility: hidden;
   width: 100%;
}

#stores #center_column p .button {float:right}

#map {
   margin:15px auto;
   height:375px;
   width:535px
}

#stores-table { border:1px solid #EE#;}
#stores-table tr:nth-child(odd) {background-color: #f3f3f3;}
#stores-table td {
	border-top:1px solid #ccc;
	border-bottom:none
}
#stores-table td.distance {border-right:1px solid #999}