/* Block specials */
#special_block_right p.title_block, #special_block_right h4  {
	padding:6px 11px;
	text-align:left
}
#special_block_right li .s_title_block, #special_block_right li h5 {
	padding:0 0 3px 0;
	text-align:left;
}
#special_block_right .products li a {
	padding:0;
	background:none
}

#special_block_right .products span.price-discount {
	text-decoration:line-through;
	float:left;
	margin:0 5px 0 0;
}
#special_block_right .products span.reduction {
	display:block;
	float:right;
	padding:0 0 0 10px;
	
	font-size:12px;
	background:url(../../../img/bg_reduction.png) no-repeat 0 0
}
#special_block_right .products span.reduction span {
	display:block;
	padding:0px 5px 1px 0;
	background:url(../../../img/bg_reduction.png) no-repeat 100% 0
}
#special_block_right .products span.price {
	display:block;
	padding:0;
}
